<!-- signin.component.html -->
<div class="w-full h-full px-28 flex flex-col justify-between items-center py-16 left-0 absolute top-0">
    <img src="assets/logo/CATSU_Logo.png" class="-mt-12 h-28 w-28" alt="">
    <p class="font-semibold text-lg text-center">
        Enroll Today, Speak Tomorrow: Join Our Digital Language Classroom
    </p>
    <div class="w-full flex flex-col justify-center items-start gap-4">
        <div class="flex flex-col">
            <h4>Welcome back!</h4>
            <small class="text-gray-400">please enter your details</small>
        </div>
        <div class="flex flex-col gap-1 text-base w-full">
            <label for="email" class="pl-1 font-semibold text-sm">EMAIL</label>
            <input type="email" class="bg-tertiary-tw border-2 px-4 border-black rounded-2xl p-2 w-full" id="email" [(ngModel)]="email">
        </div>
        <div class="flex flex-col gap-1 text-base w-full">
            <label for="password" class="pl-1 font-semibold text-sm">PASSWORD</label>
            <input type="password" class="bg-tertiary-tw border-2 px-4 border-black rounded-2xl p-2 w-full" id="password" [(ngModel)]="password">
        </div>
        <div class="justify-center items-center flex text-gray-500 gap-1">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
    </div>

    <button type="submit" (click)="login()" class="bg-secondary-tw py-2 w-32 rounded-lg text-primary-text-tw">Login</button>

    <!-- New buttons for predefined accounts -->
    <div class="w-full flex flex-col justify-center items-center gap-4 mt-4">
        <button (click)="loginWithPredefinedAccount('student')" class="bg-blue-500 py-2 w-32 rounded-lg text-white">Login as Student</button>
        <button (click)="loginWithPredefinedAccount('teacher')" class="bg-green-500 py-2 w-32 rounded-lg text-white">Login as Teacher</button>
        <button (click)="loginWithPredefinedAccount('admin')" class="bg-red-500 py-2 w-32 rounded-lg text-white">Login as Admin</button>
    </div>
