<div class="w-full h-full ">
    <div class="w-full h-full flex flex-col gap-2">
        <!-- Search Bar -->
        <div class=" h-fit relative max-w-2xl">
            <iconify-icon class="absolute top-1/2 -translate-y-1/2 left-4" icon="ic:twotone-search" width="20"
                height="20"></iconify-icon>
            <input type="text" placeholder="Search..."
                class="w-full pl-12 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-secondary-tw">
        </div>
        <!-- navigation buttons -->
        <div class="w-full h-fit flex flex-col gap-2 mb-4">
            <div
                class="w-full flex flex-row justify-between items-start font-bold overflow-visible relative">
                <div class="w-full max-w-96 flex flex-row justify-between items-start px-2">
                    @for (item of routeList; track $index) {
                    <button class="pb-1 px-1 z-10" routerLink="{{item.link}}"
                        routerLinkActive="active-route">{{item.name}}</button>
                    }
                    <hr class="w-full max-w-96 absolute bottom-0 border-gray-400">
                </div>
                <div class="w-fit absolute right-0 pr-6">
                    <iconify-icon (click)="goBack()" class="text-gray-700 hover:text-secondary-text-tw hover:scale-105
                         duration-300 cursor-pointer" icon="ph:arrow-left" width="25" height="25">
                    </iconify-icon>
                </div>
            </div>
        </div>
        <div class="w-full h-full overflow-hidden flex-grow">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>