<div class="h-dvh w-dvw flex overflow-hidden">
    <div class="h-full z-[1000] flex-shrink-0 transition-all duration-300"
         [ngClass]="{'w-64': !isSidebarCollapsed, 'w-20': isSidebarCollapsed}">
        <div class="w-full h-full bg-primary-tw text-primary-text-tw overflow-y-auto">
            <app-side-bar></app-side-bar>
        </div>
    </div>
    <div class="flex flex-col w-full h-full overflow-hidden">
        <div class="h-[15dvh] px-8  w-full z-30 flex-shrink-0">
            <app-header></app-header>
        </div>
        <div class="flex-grow overflow-y-auto">
            <div class="w-full px-8 b-4 relative">
                <!-- Contents for student/s page -->
                <router-outlet></router-outlet>
                @if (notification) {
                <div @fadeAnimation class="w-full h-full z-50 background-dim fixed top-0 left-0 flex justify-center items-center">
                    <app-notification (close)="closeNotification()"></app-notification>
                </div>
                }
                @if (settings) {
                <div @fadeAnimation class="w-full h-full z-50 background-dim fixed top-0 left-0 flex justify-center items-center">
                    <app-manage-settings (close)="closeManageSettings()"></app-manage-settings>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Include the Chat Component -->
<app-chat *ngIf="isChatVisible"></app-chat>