<div class="w-full">
    <div class="w-full h-full flex flex-col gap-4 px-6">
      <!-- Display course data if available -->
      <div class="w-full h-36 rounded-xl overflow-hidden bg-primary-tw" *ngIf="courseData">
        <div class="w-full h-full flex justify-between items-end p-6">
          <h1 class="text-4xl font-bold text-primary-text-tw">{{ courseData.course_title }}</h1>
          <div class="flex flex-row gap-4 justify-center items-center">
            <p class="text-primary-text-tw">{{ courseData.instructorName }}</p>
            <img class="w-12 h-12 border border-gray-300 rounded-full" [src]="courseData.instructorProfile" alt="Instructor Profile">
          </div>
        </div>
      </div>
  
      <div class="w-full h-3/5 flex flex-row gap-4">
        <!-- Bottom left -->
        <div class="w-full max-w-xs h-full flex flex-col gap-4 pb-6 sticky top-0 overflow-y-auto scroll-bar-none">
          <div class="w-full h-fit p-4 bg-white flex flex-col gap-3 rounded-xl shadow-lg overflow border border-gray-300">
            <h1 class="font-bold">About</h1>
            <p class="text-sm">{{ courseData.description || 'No description available.' }}</p>
          </div>
          <div class="w-full h-fit py-4 flex flex-col gap-4 bg-white rounded-xl shadow-lg overflow border border-gray-300">
            <div class="w-full px-4 flex flex-col justify-center items-center gap-4">
              <ng-container *ngFor="let item of certificateList; let i = index">
                <div class="h-full w-full">
                  <img *ngIf="item.src" class="w-full h-fit object-cover" [src]="item.src" alt="Certificate">
                </div>
                <button (click)="openCertificateModal()" class="w-full h-fit bg-primary-tw text-primary-text-tw rounded-full py-1">
                  <span *ngIf="!item.src; else editMode">Create</span>
                  <ng-template #editMode>Edit</ng-template> Certificate
                </button>
              </ng-container>
            </div>
          </div>
          <div class="w-full max-w-md mx-auto h-fit p-4 flex flex-col gap-4 bg-white rounded-xl shadow-lg border border-gray-300">
            <div class="flex flex-row justify-between items-center">
              <span class="text-lg font-medium text-gray-700">Required survey</span>
              <label class="relative inline-flex items-center cursor-pointer">
                <input (click)="toggleRequiredSurvey()" type="checkbox" class="sr-only peer" />
                <div class="w-11 h-6 bg-gray-300 rounded-full peer-checked:after:translate-x-5 peer-checked:after:border-white 
                     after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border 
                     after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-secondary-tw">
                </div>
              </label>
            </div>
            <div class="w-full">
              <button *ngIf="requiredSurvey" (click)="openSurveyModal()" class="w-full bg-tertiary-tw text-secondary-text-tw rounded-full py-1">
                Create survey
              </button>
            </div>
            <div class="w-full flex justify-center">
              <button class="w-full bg-primary-tw text-primary-text-tw rounded-full py-1">
                Distribute Certificate
              </button>
            </div>
          </div>
        </div>
  
        <!-- Bottom Right -->
        <div class="w-full h-full pb-8">
          <div class="w-full h-fit flex flex-col gap-4">
            <ng-container *ngFor="let lesson of lessons; let i = index">
              <div class="w-full h-fit flex flex-col gap-4 shadow-md justify-between items-center bg-white border border-gray-300 rounded-lg p-4 relative">
                <div class="w-full h-full flex flex-row gap-4 justify-between items-center">
                  <div class="w-fit h-full flex flex-row gap-4 justify-start items-center">
                    <img class="w-12 h-12" src="/assets/images/manage-class/group.png" alt="Group">
                    <div class="flex flex-col">
                      <h1 class="font-bold text-gray-600">  <span class="text-gray-800"> {{ lesson.lesson_title }} </span> </h1>
                      <p class="text-sm text-gray-600"> <span class="text-gray-800">  {{ lesson.objectives }}  </span></p>
                    </div>
                  </div>
                  <p (click)="openLesson(lesson.id)" class="text-sm text-secondary-text-tw cursor-pointer pr-4 font-medium hover:text-secondary-tw duration-300 hover:scale-95">
                    View
                  </p>
                </div>
                <div *ngIf="lessonId[lesson.id]" (clickOutside)="closeLesson()" class="w-full h-fit flex flex-row gap-4 justify-between items-center">
                  <div class="w-full h-full flex flex-col gap-4 ml-10 px-6">
                    <span class="border-b border-black h-1"></span>
                    <p class="text-sm w-full max-w-lg">{{ lessons[0].description }}</p>
                    <div class="w-full h-fit flex flex-col gap-2">
                        <div class="w-full max-w-3xl pb-8 grid grid-flow-col gap-4 overflow-x-auto custom-scrollbar flex-shrink-0">
                          <ng-container *ngFor="let attachment of lesson.attachments">
                            <h1>Attachments:</h1>

                            <ng-container [ngSwitch]="getAttachmentType(attachment)">
                              <!-- Display Image -->
                              <img *ngSwitchCase="'image'" [src]="attachment" alt="Attachment" class="w-40 h-28 min-w-[160px] object-cover cursor-pointer" (click)="openAttachment(attachment)">
                      
                              <!-- Display PDF -->
                              <div *ngSwitchCase="'pdf'" class="w-40 h-28 min-w-[160px] bg-gray-200 flex items-center justify-center cursor-pointer" (click)="openAttachment(attachment)">
                                <span>{{ getFileNameFromUrl(attachment) }}</span>
                              </div>
                      
                              <!-- Display Video -->
                              <video *ngSwitchCase="'video'" [src]="attachment" controls class="w-40 h-28 min-w-[160px]"></video>
                      
                              <!-- Display Other Files -->
                              <div *ngSwitchDefault class="w-40 rounded-3xl animate-spin  h-10 min-w-[160px] bg-red-500 flex items-center justify-center cursor-pointer" (click)="openAttachment(attachment)">
                                <span class=" animate-bounce text-violet-500" >{{ getFileNameFromUrl(attachment) }}</span>
                              </div>
                            </ng-container>
                          </ng-container>
                      
                        </div>
                      </div>
                      
                      
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  