<div class="w-full h-full flex items-center justify-center">
    <div class="relative bg-white p-8 rounded-lg h-full w-full flex flex-col border border-gray-700 justify-evenly items-start">
        <iconify-icon (click)="close()" class="cursor-pointer absolute top-2 right-2 z-[100]"
            icon="lets-icons:close-square-duotone" width="35" height="35">
        </iconify-icon>

        <!-- Alert Message -->
        <div *ngIf="alertMessage" [ngClass]="{'bg-green-100 border-green-400 text-green-700': alertMessage.type === 'success', 'bg-red-100 border-red-400 text-red-700': alertMessage.type === 'error'}"
             class="border-l-4 p-4 mb-4 w-full">
            <p>{{ alertMessage.message }}</p>
        </div>

        <form [formGroup]="classworkForm" (ngSubmit)="saveClasswork()" class="w-full h-full flex lg:flex-row flex-col-reverse gap-4">
            <!-- Right panel-->
            <div class="w-full h-full flex flex-col gap-4 pb-8 rounded-xl">
                <div class="w-full flex flex-col gap-1.5">
                    <label for="lesson_id" class="capitalize font-bold text-lg ml-1">Lesson</label>
                    <select formControlName="lesson_id" class="px-4 border border-gray-700 rounded-2xl p-2 w-full focus:outline-secondary-tw">
                        <option *ngFor="let lesson of lessons" [value]="lesson.lesson_id">
                            {{ lesson.lesson_title }}
                        </option>
                    </select>
                </div>
                <div class="w-full flex flex-col gap-1.5">
                    <label for="description" class="capitalize font-bold text-lg ml-1">Title</label>
                    <input type="text" formControlName="description" class="px-4 border border-gray-700 rounded-2xl p-2 w-full focus:outline-secondary-tw">
                </div>
                <div class="w-full flex flex-col gap-1.5">
                    <label for="content" class="capitalize font-bold text-lg ml-1">Instruction</label>
                    <textarea formControlName="content"
                        class="px-4 border border-gray-700 rounded-2xl p-2 w-full resize-none h-40 focus:outline-secondary-tw"
                        name="content" id=""></textarea>
                </div>
                <div class="w-full flex flex-col gap-1.5">
                    <label for="attachment" class="capitalize font-bold text-lg ml-1">Attach</label>
                    <input type="file" (change)="onFileSelected($event)" class="px-4 border border-gray-700 rounded-2xl p-2 w-full focus:outline-secondary-tw">
                    <div class="px-4 border border-gray-700 rounded-2xl p-2 w-full resize-none h-40 flex justify-center items-center">
                        <div class="w-fit h-fit flex gap-4">
                            <img class="w-12 h-12" src="/assets/images/manage-class/upload.png" alt="">
                            <img class="w-12 h-12 cursor-pointer" src="/assets/images/manage-class/browse.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left panel -->
            <div class="lg:w-fit w-full h-full">
                <div class="lg:w-fit w-full h-fit border border-gray-700 flex flex-col gap-4 pb-8 p-4 mt-8 rounded-xl">
                    <div class="w-full flex flex-col gap-1.5">
                        <label for="points" class="capitalize font-medium ml-1">Points</label>
                        <input type="number" formControlName="points" class="px-4 border border-gray-700 rounded-2xl p-2 w-56 focus:outline-secondary-tw">
                    </div>
                    <div class="w-full flex flex-col gap-1.5">
                        <label for="due_date_and_time" class="capitalize font-medium ml-1">Due Date & Time</label>
                        <input type="datetime-local" formControlName="due_date_and_time" class="px-4 border border-gray-700 rounded-2xl p-2 w-56 focus:outline-secondary-tw">
                    </div>
                    <div class="pt-4">
                        <button type="submit" [disabled]="isSubmitting"
                            class="bg-primary-tw py-2 w-full rounded-full text-primary-text-tw hover:bg-secondary-tw hover:scale-95 duration-300">
                            {{ isSubmitting ? 'Saving...' : 'Save' }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>