<section class="relative flex flex-col items-start px-5 pt-1 rounded-3xl bg-slate-800 pb-[20px] max-md:pb-24" [hidden]="isScreenSharing">
  <!-- Overlay for 1v1 mode -->
  <div *ngIf="selectedMode === '1v1'" class="absolute inset-0 bg-gray-300 opacity-75 z-10 pointer-events-none"></div>

  <!-- Mode Buttons -->
  <div class="grid grid-cols-3 gap-10 max-w-full w-full px-1 pt-3 z-20">
    <div class="flex flex-row gap-4 items-start">
      <button (click)="selectMode('1v1')" 
        [ngClass]="{
          'bg-[#bd8a1d]': selectedMode === '1v1',
          'opacity-100': selectedMode === '1v1' || selectedMode === '',
          'opacity-50': selectedMode !== '1v1' && selectedMode !== ''
        }" 
        class="flex gap-2 px-2.5 py-3 rounded-md text-sm font-semibold text-center text-white whitespace-nowrap shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] w-[92px] hover:bg-[#bd8a1d] transition-colors duration-300">
        <img loading="lazy" 
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/50e02dbc2b2121ddb10445a03a6e1b2f94db88f067c7c49341243a5e3b44d50d?apiKey=377401e3604042c7b3deecb062253d04" 
          alt="1v1 Icon" class="object-contain w-full aspect-[1.57] max-w-[25px]" />
        <span>1v1</span>
      </button>
      <button (click)="selectMode('Group')" 
        [ngClass]="{
          'bg-[#bd8a1d]': selectedMode === 'Group', 
          'opacity-10': selectedMode === '1v1',
          'bg-slate-800': selectedMode !== 'Group'
        }" 
        class="flex gap-2 px-2.5 py-3 rounded-md text-sm font-semibold text-center text-white whitespace-nowrap shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] w-[92px] hover:bg-[#bd8a1d] transition-colors duration-300">
        <img loading="lazy" 
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/50e02dbc2b2121ddb10445a03a6e1b2f94db88f067c7c49341243a5e3b44d50d?apiKey=377401e3604042c7b3deecb062253d04" 
          alt="Group Icon" class="object-contain shrink-0 self-start aspect-[1.57] w-[25px]" />
        <span>Group</span>
      </button>
    </div>
    
    <!-- Grey out central section if 1v1 mode is selected -->
    <div class="flex flex-col items-center" [ngClass]="{'opacity-10': selectedMode === '1v1'}">
      <div class="flex flex-col max-w-[160px]">
        <div class="flex flex-col w-full">
          <figure class="flex flex-col w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/de1dd13f51d229ffb675ed29855fd80d8b29f808ea1910a2bd776720e536f5ca?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain w-full aspect-[2.5]" alt="Descriptive Image"/>
          </figure>
        </div>
        <div class="flex flex-col justify-center p-2.5 w-full">
          <div class="flex flex-col w-full">
            <div class="flex w-full border border-white border-solid bg-slate-800 min-h-[60px]" role="presentation"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-end">
      <button (click)="selectMode('Custom')" 
        [ngClass]="{
          'bg-[#bd8a1d]': selectedMode === 'Custom',
          'opacity-10': selectedMode === '1v1',
          'bg-slate-800': selectedMode !== 'Custom'
        }" 
        class="flex gap-3 px-3.5 py-2.5 rounded-md text-sm font-semibold text-center shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] text-white w-[183px] hover:bg-[#bd8a1d] transition-colors duration-300">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/da1b4e3d79d8c86fd94c892afb9d4a77b33b5efb2b86b1a92e3ceaa27ffc84b1?apiKey=377401e3604042c7b3deecb062253d04" 
             alt="Custom Icon" 
             class="object-contain shrink-0 self-start aspect-[1.38] w-[22px]" />
        <span class="grow shrink w-[118px]">Custom Selection</span>
      </button>
    </div>
  </div>
  
  <div class="flex flex-wrap gap-10 justify-left items-center max-w-full w-[945px]">
    <button (click)="toggleManageUnits()" class="flex gap-3.5 px-3 py-2.5 rounded-md bg-slate-800 text-sm font-semibold text-center shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)] text-white w-[153px] hover:bg-[#bd8a1d] transition-colors duration-300">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/864227636b40a5bc6e69012ff7ecb57972d004db28d499c21578efceef63c425?apiKey=377401e3604042c7b3deecb062253d04" alt="Manage Units Icon" class="object-contain shrink-0 aspect-[0.95] w-[19px]" />
        <span>Manage Units</span>
    </button>
  </div>
  
  <!-- Student selection grid -->
  <div class="grid grid-cols-7 gap-3 w-full max-md:max-w-full pl-10 pr-5 justify-center pb-10 pt-3 z-20">
    <div *ngFor="let student of students; let i = index" 
      (click)="!isDefaultStudent(student) && selectStudent(i)" 
      [ngClass]="{
        'text-[#E4D00A]': selectedStudents.includes(i) && !isDefaultStudent(student),
        'text-white': !selectedStudents.includes(i) || isDefaultStudent(student),
        'pointer-events-none': isDefaultStudent(student) || (selectedMode !== '1v1' && selectedStudents.length > 0)
      }" 
      class="flex flex-col items-center text-[10px] max-w-[70px] cursor-pointer transition-transform duration-300"
      [ngStyle]="{
        'padding': selectedStudents.includes(i) && !isDefaultStudent(student) ? '5px' : '0px',
        'transform': selectedStudents.includes(i) && !isDefaultStudent(student) ? 'scale(1.3)' : 'scale(1)',
        'filter': selectedStudents.includes(i) && !isDefaultStudent(student) ? 'grayscale(0%) sepia(100%) saturate(500%) hue-rotate(0deg)' : 'none',
        'border': selectedStudents.includes(i) && !isDefaultStudent(student) ? '2px solid #E4D00A' : 'none',
        'opacity': isDefaultStudent(student) ? '0.5' : '1'
      }">
      <header [ngClass]="{
        'text-[#E4D00A]': selectedStudents.includes(i) && !isDefaultStudent(student), 
        'text-white': !selectedStudents.includes(i) || isDefaultStudent(student)
      }" class="font-semibold text-center">{{ student.name }}</header>
      <img loading="lazy" 
           src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8e0427cb6667a1177a696dc94559f5248cefda7689717190c8b5dfb664ef46c?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04"
           class="object-contain self-stretch mt-1.5 w-full aspect-[1]" 
           alt="Student photo"
           [ngStyle]="{
             'filter': selectedStudents.includes(i) && !isDefaultStudent(student) ? 'sepia(100%) saturate(10000%) hue-rotate(40deg)' : 'none'
           }"/>
      <footer [ngClass]="{
        'text-[#E4D00A]': selectedStudents.includes(i) && !isDefaultStudent(student), 
        'text-white': !selectedStudents.includes(i) || isDefaultStudent(student)
      }" class="text-center">{{ student.id }}</footer>
    </div>
  </div>
  
  <!-- Confirm/Cancel Buttons -->
  <div *ngIf="selectedMode === '1v1' && selectedStudents.length === 1" 
       class="absolute bottom-8 left-1/2 transform -translate-x-1/2 z-30 flex items-center justify-center">
    <div class="flex gap-4">
      <button (click)="confirmSelection()" 
              class="bg-[#121a2d] text-white font-semibold py-2 px-4 rounded transition-colors duration-300 hover:bg-[#bd8a1d] shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)]">
        Confirm
      </button>
      <button (click)="cancelSelection()" 
              class="bg-[#121a2d] text-white font-semibold py-2 px-4 rounded transition-colors duration-300 hover:bg-[#bd8a1d] shadow-[4px_4px_4px_4px_rgba(0,0,0,0.25)]">
        Cancel
      </button>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="flex justify-center items-center w-full">
    <div class="flex gap-10 items-center">
      <button class="w-[50px] h-[50px] rounded-full overflow-hidden focus:outline-none focus:ring-2 focus:ring-blue-500">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6202745fe2fe4faa3970c27eec3ce93a70ccec4e80bf7e2af2bdda450320472?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04"           
          class="object-cover w-full h-full"
          alt="Profile image 1"
        />
      </button>
      <button class="w-[50px] h-[50px] rounded-full overflow-hidden focus:outline-none focus:ring-2 focus:ring-blue-500">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/eeda947e34629e5cebbec8a69daa47d0998aab52b49d260bed5de80ed6e26ac7?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04"
          class="object-cover w-full h-full"
          alt="Profile image 2"
        />
      </button>
    </div>
  </div>
  <div *ngIf="isScreenSharing" class="screen-share-container fixed top-0 right-0 bottom-0 left-[250px] z-40 bg-black flex items-center justify-center">
    <div class="relative w-full h-full bg-black rounded-lg overflow-hidden">
      <video #screenShareVideo autoplay class="w-screen h-full object-contain"></video>
      <button (click)="stopScreenShare()" class="absolute top-4 right-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition-colors">
        Stop Sharing
      </button>
    </div>
  </div>

  <div *ngIf="showManageUnitsPanel" class="fixed inset-0 flex items-center justify-end z-50 pr-10">
    <div class="bg-[#1a2234] p-6 text-white w-screen h-screen max-w-[1150px] max-h-[700px] flex overflow-y-auto rounded-lg shadow-xl">
      <!-- Left column: Manage Units Panel -->
      <div class="w-1/4 pr-4 flex flex-col">
        <div class="flex justify-between items-start mb-4">
          <div>
            <h2 class="text-m font-bold">Speech Lab Units</h2>
            <p class="text-sm text-gray-400">Class name</p>
          </div>
          <div class="flex items-center cursor-pointer" (click)="autoArrange()">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/50defe3b59d835ad14d7f732baeb20780be82e1a4a8af34b279fbdb183fd87cb?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" alt="Auto Arrange Icon" class="w-5 h-5 mr-2" />
            <span class="text-xs">Auto Arrange</span>
          </div>
        </div>
  
        <div class="relative mb-4">
          <input type="text" placeholder="Search students" class="bg-white text-black rounded-full py-2 px-4 pr-10 w-full" [(ngModel)]="searchQuery" (input)="onSearchInputChange($event)" />
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/728315a4dee7886052f73849805a080167688f2df94a767b1b67861977e91d84?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" alt="Search Icon" class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5" />
        </div>
  
        <div class="space-y-2 overflow-y-auto flex-grow">
          <div *ngFor="let student of getFilteredStudents(); let i = index" 
               class="flex items-center justify-between p-3 rounded-xl border border-gray-600" 
               [ngClass]="{'bg-amber-500 text-black': i === 0, 'bg-[#1a2234] text-white': i !== 0}">
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-md flex items-center justify-center mr-3">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d8e0427cb6667a1177a696dc94559f5248cefda7689717190c8b5dfb664ef46c?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" alt="Monitor" class="w-6 h-6" />
              </div>
              <div>
                <p class="font-semibold text-sm">{{ student.name }}</p>
                <p class="text-xs text-gray-400">{{ student.id }}</p>
              </div>
            </div>
            <div class="flex flex-col items-center justify-center w-6 h-6">
              <div class="w-1 h-1 bg-gray-400 rounded-full mb-0.5"></div>
              <div class="w-1 h-1 bg-gray-400 rounded-full mb-0.5"></div>
              <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="w-3/4 pl-4 flex flex-col">
        <div class="flex-grow bg-[#131927] rounded-xl p-4">
          <!-- Seating Arrangement Grid -->
          <div class="grid grid-cols-7 gap-2 h-full">
            <div *ngFor="let seat of seatingArrangement; let i = index" 
                 class="flex items-center justify-center border border-gray-600 rounded-md bg-[#1a2234] p-4 h-[100px]">
              <div *ngIf="seat; else emptySeat">
                <p class="text-sm font-semibold text-center">{{ seat.name }}</p>
                <p class="text-xs text-gray-400 text-center">{{ seat.id }}</p>
              </div>
              <ng-template #emptySeat>
                <p class="text-gray-400">Seat {{ i + 1 }}</p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-4 space-x-4">
          <button (click)="saveChanges()" class="px-4 py-2 bg-amber-500 text-black rounded-md">Save</button>
          <button (click)="cancelChanges()" class="px-4 py-2 bg-gray-600 text-white rounded-md">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!--selection section-->
  <div *ngIf="showSelectionSection" class="fixed inset-0 bg-white bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-slate-800 p-6 rounded-lg shadow-lg text-white bg-white ">
        <button class="flex right-2 text-black rounded-full p-2 pb-3" aria-label="Close" (click)="showSelectionSection = false">
            &times;
        </button>
        <div class="flex flex-col justify-center w-full max-w-[294px] px-5 pb-5">
            <div class="flex overflow-hidden flex-col w-full rounded-3xl bg-slate-800 shadow-[0px_6px_12px_rgba(27,105,253,0.392)]">
              <button 
                [routerLink]="['/teacher/select-module']"
                class="gap-2.5 self-stretch px-10 py-3.5 rounded-3xl bg-slate-800 min-h-[55px]"
                aria-label="Select a Module">
                Select a Module
              </button>
            </div>
            <div class="flex gap-3.5 items-center self-center mt-5 text-black whitespace-nowrap">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f0b6c53702a07574b5502ffbc6a6f0847f6b2ce78421e7d78810e911183ccd4c?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain shrink-0 self-stretch my-auto aspect-[66.67] w-[68px]" alt="" />
              <span class="self-stretch my-auto w-[27px]">OR</span>
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c1ea0f94103fb9d465677ee613bb90b0258a1182cb3ebf5c67c03dbffcb745ed?placeholderIfAbsent=true&apiKey=377401e3604042c7b3deecb062253d04" class="object-contain shrink-0 self-stretch my-auto aspect-[66.67] w-[67px]" alt="" />
            </div>
            <div class="flex overflow-hidden flex-col mt-5 w-full rounded-3xl bg-slate-800 shadow-[0px_6px_12px_rgba(27,105,253,0.392)]">
              <button (click)="startScreenShare()" 
              [disabled]="isScreenSharing"
              class="gap-2.5 self-stretch px-10 py-3.5 rounded-3xl bg-slate-800 min-h-[55px] text-white" 
              aria-label="Share your Screen">
        {{ isScreenSharing ? 'Screen is being shared' : 'Share your Screen' }}
      </button>
            </div>
          </div>
    </div>
  </div>


<div *ngIf="showToast" class="fixed bottom-5 right-5 bg-green-500 text-white px-4 py-2 rounded shadow-lg z-50 transition-opacity duration-300"
     [ngClass]="{'opacity-100': showToast, 'opacity-0': !showToast}">
  {{ toastMessage }}
</div>