<div class="w-full h-full">
    <div class="w-full h-full flex flex-col gap-4">
        <div class="lg:hidden w-full h-fit flex justify-end items-end pr-6">
            <button (click)="goBack()" class="bg-primary-tw py-1 w-24 rounded-full text-primary-text-tw hover:bg-secondary-tw duration-300">Back</button>
        </div>
        <div class="w-full flex justify-between items-center px-6">
            <div class=" h-fit flex-shrink-0 flex flex-row gap-4">
                @for (route of activeRoutes; track $index) {
                <button class="w-28 rounded-lg py-1.5 bg-primary-tw text-primary-text-tw" [routerLink]="route.link"
                    routerLinkActive="active-router">{{route.name}}</button>
                }
            </div>
            <div class="lg:block hidden">
                <button (click)="goBack()" class="bg-primary-tw py-1 w-24 rounded-full text-primary-text-tw hover:bg-secondary-tw duration-300">Back</button>
            </div>
            

        </div>
        <div class="w-full h-full overflow-y-auto px-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>




  
