<section class="flex rounded-none max-md:pr-2 min-h-[600px]">
    <div class="flex flex-col md:flex-row gap-6 max-md:flex-col w-screen">
        <div class="flex flex-row w-full">
            <div class="flex flex-col bg-[#162238] rounded-2xl rounded-tr-none rounded-br-none min-h-[500px] w-full md:w-[55%] p-6 justify-center items-center">
                <header class="flex flex-col w-full text-center">
                    <div class="flex flex-col self-center mt-6 max-w-full">
                        <div class="flex flex-wrap gap-5 justify-center items-start w-full">
                            <div class="pl-6 flex flex-col items-start w-full">
                                <div class="flex flex-col items-start self-stretch pt-2 pr-5 w-full text-white">
                                    <h1 class="text-4xl font-extrabold">Speech Laboratory</h1>
                                    <p class="mt-1.5 text-sm">Practice, Repeat, and Read Aloud with Engaging</p>
                                    <p class="mt-1.5 text-sm">Audio Modules.</p>
                                </div>
                                <div class="flex flex-col mt-4 w-full">
                                    <button [routerLink]="['/admin/teacher-selection']" class="flex justify-start items-start text-2xl font-medium text-white rounded-xl w-full">
                                        <span class="px-10 py-5 rounded-xl font-light" style="background-color: #bd8a1d;">Let's get started</span>
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="flex items-center justify-center bg-[#162238] rounded-2xl rounded-tl-none rounded-bl-none w-full md:w-[45%] p-6">
                <img src="../assets/SVG/meeting.svg" alt="Meeting">
            </div>
        </div>
    </div>
</section>
