<div class="h-full w-full relative pr-6">
    <!-- Table Container -->
    <div class="w-full h-full bg-white rounded-lg overflow-hidden flex flex-col">
        <table class="w-full bg-white rounded-lg table-fixed">
            <thead class="sticky top-0 z-10 bg-secondary-tw text-white">
                <tr>
                    <th class="px-6 py-2 font-semibold text-left">Name</th>
                    <th class="px-6 py-2 font-semibold text-left whitespace-nowrap">Submission Date</th>
                    <th class="px-6 py-2 font-semibold text-left whitespace-nowrap">Submission Status</th>
                    <th class="px-6 py-2 font-semibold text-left">Grades</th>
                    <th class="w-44 py-2 font-semibold text-left">Action</th>
                </tr>
            </thead>
        </table>
        <div class="flex-grow overflow-y-auto custom-scrollbar">
            <table class="w-full table-fixed">
                <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let task of attendanceList" class="hover:bg-gray-50">
                        <td class="px-6 py-4 text-left">{{ task.name }}</td>
                        <td class="px-6 py-4 text-left text-primary-tint-tw">{{ task.date }}</td>
                        <td class=" px-6 py-4 text-left text-primary-tint-tw">{{ task.time }}</td>
                        <td class="px-6 py-4 text-left capitalize">
                            <span class="inline-block px-4 py-1 text-center text-white rounded-full w-36"
                                [ngClass]="{'bg-green-500': task.status === 'present', 'bg-red-500': task.status === 'absent'}">
                                {{ task.status }}
                            </span>
                        </td>
                        <td class="w-44 py-4 text-left ">{{ task.professor }}</td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </div>
</div>